<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./pochinkator-flight/pochinkator-flight.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="pochinkator-flights-list">
    <template>
        <style>
            :host {
                display: block
            }

            iron-list{
                width: 100%;
            }
        </style>

            <paper-dialog 
                id="confirm" 
                with-backdrop 
                alwaysOnTop
                on-iron-overlay-closed="dialogClosed"
            >
                <h2>Purchase Confirmation</h2>
                <div id="dialogText"></div>
                <div class="buttons">
                    <paper-button dialog-dismiss>Decline</paper-button>
                    <paper-button dialog-confirm autofocus>Accept</paper-button>
                </div>
            </paper-dialog>

            <template is="dom-repeat" items="[[flights]]">
                <pochinkator-flight
                    company="[[item.company.name]]"
                    imglogo="[[item.company.logo]]"
                    date="[[item.date]]"
                    origin="[[item.from]]"
                    destination="[[item.destination]]"
                    timedeparture="[[item.departureTime]]"
                    timearrival="[[item.arrivalTime]]"
                    price=[[item.price]]
                    seats=[[item.seats]]
                    freeseats=[[item.freeSeats]]
                    index=[[index]]
                    type="[[type]]"
                    on-btn-clicked="openDialog"
                ></pochinkator-flight>
            </template>
    </template>

    <script>
        class PochinkatorFlightsList extends Polymer.Element {
            static get is() {
                return 'pochinkator-flights-list';
            }

            static get properties() {
                return {
                    flights: Array,
                    type: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            openDialog(e){
                this.indexSeAlbertoImbecillected = e.detail;
                this.$.dialogText.innerHTML = "You've selected a flight <b>" + this.flights[this.indexSeAlbertoImbecillected].from + " - " + this.flights[this.indexSeAlbertoImbecillected].destination + "</b>, is this correct?";
                document.body.appendChild(this.$.confirm);
                this.$.confirm.open();
            }

            dialogClosed(e){
                if(e.detail.confirmed && !e.detail.canceled){
                    this.dispatchEvent(new CustomEvent('pusrchase-confirmed', {
                        detail: {
                            id: this.flights[this.indexSeAlbertoImbecillected].id,
                            url: this.flights[this.indexSeAlbertoImbecillected].company.url
                        },
                    }));
                }
            }

        }

        window.customElements.define(PochinkatorFlightsList.is, PochinkatorFlightsList);
    </script>
</dom-module>