<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="pochinkator-flight">
    <template>
        <style>
            :host {
                display: block;
                text-align: center;
            }

            paper-card{
                max-width: 600px;
                width: 95%;
                margin-top: 15px;
            }

            .card-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .card-actions{
                text-align: right
            }

            .flex-column{
                display: flex;
                width: 33%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .flex-row{
                display: flex;
                width: 33%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        </style>

        <template is="dom-if" if="{{_isBuy()}}">
        
            <paper-card>
                <div class="card-content">
                    <div class="flex-column">
                        <img 
                            src="[[imglogo]]"
                            width="50"
                            height="50"
                        />
                        <span>[[company]]</span>
                        <span>[[date]]</span>
                    </div>
                    <div class="flex-row">
                        <div class="flex-column">
                            <span>[[origin]]</span>
                            <span>[[timedeparture]]</span>
                        </div>
                        <div class="flex-column">
                            <span>-</span>
                        </div>
                        <div class="flex-column">
                            <span>[[destination]]</span>
                            <span>[[timearrival]]</span>
                        </div>
                    </div>
                    <div class="flex-column">
                        <span>[[price]]€</span>
                        <span>[[freeseats]]/[[seats]]</span>
                    </div>
                </div>
                <div class="card-actions">
                    <paper-button
                        on-tap="click"
                    >[[type]]</paper-button>
                </div>
            </paper-card>

        </template>

        <template is="dom-if" if="{{_isPurchase()}}">
        
                <paper-card>
                    <div class="card-content">
                        <div class="flex-column">
                            <img 
                                src="[[imglogo]]"
                                width="50"
                                height="50"
                            />
                            <span>[[company]]</span>
                            <span>[[date]]</span>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column">
                                <span>[[origin]]</span>
                                <span>[[timedeparture]]</span>
                            </div>
                            <div class="flex-column">
                                <span>-</span>
                            </div>
                            <div class="flex-column">
                                <span>[[destination]]</span>
                                <span>[[timearrival]]</span>
                            </div>
                        </div>
                        <div class="flex-column">
                            <span>[[price]]€</span>
                        </div>
                    </div>
                </paper-card>
    
            </template>

        

    </template>

    <script>
        class PochinkatorFlight extends Polymer.Element {
            static get is() {
                return 'pochinkator-flight';
            }

            static get properties() {
                return {
                    imglogo: String,
                    company: String,
                    date: String,
                    origin: String,
                    destination: String,
                    timedeparture: String,
                    timearrival: String,
                    price: Number,
                    seats: Number,
                    freeseats: Number,
                    type: String,
                    index: Number
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            click(e){
                this.dispatchEvent(new CustomEvent('btn-clicked', {
                    detail: this.index,
                }));
            }

            _isBuy(){
                return (this.type == "BUY");
            }

            _isPurchase(){
                return (this.type == "REMOVE");
            }

        }

        window.customElements.define(PochinkatorFlight.is, PochinkatorFlight);
    </script>
</dom-module>