<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../pochinkator-login/pochinkator-login.html">
<link rel="import" href="../pochinkator-main/pochinkator-main.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="pochinkator-app">
    <template>
        <style>
            :host {
                display: block
            }
            #toastError {
                --paper-toast-background-color: red;
                --paper-toast-color: white;
            }
        </style>

        <firebase-app 
            auth-domain="pochinkator.firebaseapp.com"
            database-url="https://pochinkator.firebaseio.com/"
            api-key="AIzaSyCY4gUR4lUmivg266LkjxZCSX9ujb9_2G0">
        </firebase-app>

        <firebase-auth 
            id="auth"
            user="{{user}}"
            on-error="handleError">
        </firebase-auth>

        <pochinkator-login
            id="login"
            on-sign-in-google="signInGoogle"
            on-sign-in-twitter="signInTwitter"
        ></pochinkator-login>

        <paper-toast id="toastError" class="fit-bottom" text="Error trying to log-in"></paper-toast>

    </template>

    <script>
        class PochinkatorApp extends Polymer.Element {
            
            static get is() {
                return 'pochinkator-app';
            }

            static get properties() {
                return {
                    user: Object
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            signInSucessful(){
                this.shadowRoot.querySelector('#login').remove();
                let main = document.createElement('pochinkator-main');
                main.setAttribute('id', 'main');
                this.shadowRoot.appendChild(main);
                this.shadowRoot.querySelector('#main').set('userName', this.user.displayName);
                this.shadowRoot.querySelector('#main').set('userEmail', this.user.email);
                this.shadowRoot.querySelector('#main').set('imgUrl', this.user.photoURL);
                this.shadowRoot.querySelector('#main').set('uid', this.user.uid);
                console.log(this.user.uid);
                this.shadowRoot.querySelector('#main').addEventListener('sign-out', (e) => {
                    this.signOut();
                });
            }

            signInGoogle(){
                this.$.auth.signInWithPopup('google')
                    .then(response => {
                        this.set('user', response.user);
                        this.signInSucessful();
                    })
            }

            signInTwitter(){
                this.$.auth.signInWithPopup('twitter')
                    .then(response => {
                        this.set('user', response.user);
                        this.signInSucessful();
                    })
            }

            handleError(){
                this.$.toastError.open();
            }

            signOut(){
                this.$.auth.signOut().then(responser => {
                    this.shadowRoot.querySelector('#main').remove();
                    let login = document.createElement('pochinkator-login');
                    login.setAttribute('id', 'login');
                    this.shadowRoot.appendChild(login);
                    this.shadowRoot.querySelector('#login')
                                    .addEventListener('sign-in-google', (e) => this.signInGoogle());
                    this.shadowRoot.querySelector('#login')
                                    .addEventListener('sign-in-twitter', (e) => this.signInTwitter());
                });
            }
        }

        window.customElements.define(PochinkatorApp.is, PochinkatorApp);
    </script>
</dom-module>