<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/demo/sample-content.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="../../bower_components/paper-drawer/paper-drawer.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-title.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-subheader.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-icon-item.html">


<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../pochinkator-flights-list/pochinkator-flights-list.html">

<dom-module id="pochinkator-main">
  <template>
    <style>
      :host {
        display: block;
      }

      @import url('https://fonts.googleapis.com/css?family=Roboto');
      
      *{
        font-family: 'Roboto', 'Noto', sans-serif;
      }

      html, body {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        background: #f1f1f1;
        max-height: 368px;
      }
      app-toolbar {
        background-color: #4285f4;
        color: #fff;
      }

      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      paper-icon-button + [main-title] {
        margin-left: 24px;
      }
      paper-progress {
        display: block;
        width: 100%;
        --paper-progress-active-color: rgba(255, 255, 255, 0.5);
        --paper-progress-container-color: transparent;
      }
      app-header {
        @apply --layout-fixed-top;
        color: #fff;
        --app-header-background-rear-layer: {
          background-color: #ef6c00;
        };
      }
      app-drawer {
        --app-drawer-scrim-background: rgba(0, 0, 0, 0.5);
        --app-drawer-content-container: {
          background-color: #FFF;
        }
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
    </style>

    <app-drawer-layout>

      <app-header-layout fullbleed>
        <app-header slot="header" reveals>
          <app-toolbar>
            <paper-icon-button icon="menu" on-click="drawerToggle"></paper-icon-button>
            <div main-title id="maintitle">Pochinkator</div>
            <paper-icon-button icon="refresh" on-click="refreshApi"></paper-icon-button>
            <paper-progress id="progressBar" value="0" indeterminate bottom-item disabled></paper-progress>
          </app-toolbar>
        </app-header>

        <pochinkator-flights-list
          id="flightsList"
          on-pusrchase-confirmed="purchaseConfirmed"
        ></pochinkator-flights-list>

      </app-header-layout>

      <app-drawer id="drawer" swipe-open>
        <paper-drawer>
          <paper-drawer-title
            photo="[[imgUrl]]"
            name="[[userName]]" 
            email="[[userEmail]]">
          </paper-drawer-title>
          
          <paper-drawer-subheader>Flights</paper-drawer-subheader>
          <paper-drawer-icon-item icon="icons:flight-takeoff" on-tap="_flightList">Flights list</paper-drawer-icon-item>
          <paper-drawer-icon-item icon="icons:archive" on-tap="_myflights">My flights</paper-drawer-icon-item>
          <paper-drawer-subheader>Session</paper-drawer-subheader>
          <paper-drawer-icon-item icon="icons:exit-to-app" on-tap="signOut">Log out</paper-drawer-icon-item>
        </paper-drawer> 
      </app-drawer>
    
    </app-drawer-layout>

    <iron-ajax
      id="apiFlights"
      handle-as="json"
      on-response="handleResponseFlights"
      on-loading-changed="loadingChanged"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="apiInfo"
      handle-as="json"
      on-response="handleResponseInfo"
      on-loading-changed="loadingChanged"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="apiInsert"
      method="POST"
      handle-as="json"
      content-type='application/json'
      on-response="refreshApi"
      on-loading-changed="loadingChanged"
      debounce-duration="300">
    </iron-ajax>

  </template>

  <script>
    class PochinkatorMain extends Polymer.Element {
      static get is() { return 'pochinkator-main'; }

      static get properties(){
        return{
          userName: {
            type: String,
            value: ""
          },
          imgUrl: {
            type: String,
            value: ""
          },
          userEmail: {
            type: String,
            value: ""
          },
          menu: {
            type: Number,
            value: 0
          },
          uid: String,
          arrayApis: Array
        };
      }

      constructor() {
          super();
      }

      ready(){
        super.ready();
        this.arrayApis = [
          "http://localhost/pochinkiapi/public/",
          "http://gurrendanco.bounceme.net:5000/api/"
        ];
        this.menuChanged();
      }

      drawerToggle(){
        this.$.drawer.toggle();
      }

      signOut(){
        this.dispatchEvent(new CustomEvent('sign-out'));
      }

      refreshApi(){
        this.refreshInfo();
      }

      refreshInfo(){
        this.info = Array();
        this.apiNum = 0;
        for(let i = 0; i < this.arrayApis.length; i++){
          this.$.apiInfo.set("url", this.arrayApis[i] + "info");
          this.$.apiInfo.generateRequest();
        }
      }

      refreshFlights(){
        this.flights = Array();
        this.$.flightsList.set("flights", this.flights);
        this.apiNum = 0;
        for(let i = 0; i < this.arrayApis.length; i++){
          if(this.menu == 1){
            this.$.apiFlights.set("url", this.arrayApis[i] + "myflights/" + this.uid);
          }else{
            this.$.apiFlights.set("url", this.arrayApis[i] + "flights");
          }
          this.$.apiFlights.generateRequest();
        }
      }

      handleResponseInfo(e){
        let event = e.detail;
        this.apiNum++;
        
        this.info = this.info.concat(event.response)

        if(this.apiNum == this.arrayApis.length){
          this.refreshFlights();
        }
      }

      handleResponseFlights(e){
        let event = e.detail;

        console.log(event.response)

        if(event.response != null && event.response[0] != null){

          for(let i = 0; i < this.info.length; i++){
            if(this.info[i].name == event.response[0].company){
              for(let j = 0; j < event.response.length; j++){
                event.response[j].company = this.info[i];
              }
            }
          }

          this.flights = this.flights.concat(event.response);
        }
          
        this.flights = this.flights.sort(function (a, b) {
          return a.from.localeCompare(b.from);
        });
        this.$.flightsList.set("flights", this.flights);  
      }

      loadingChanged(e){
        this.$.progressBar.disabled = !e.detail.value;
        this.$.progressBar.value = (e.detail.value) ? 5 : 100;
      }

      menuChanged(){
        this.$.drawer.close();
        if(this.menu == 1){
          this.$.maintitle.innerHTML = "My Flights"
          this.$.flightsList.set("type", "REMOVE");
        }else{
          this.$.maintitle.innerHTML = "Flights List"
          this.$.flightsList.set("type", "BUY");
        }
        this.refreshApi();
      }

      purchaseConfirmed(e){
        let param = {
          id: e.detail.id,
          uid: this.uid
        }
        console.log(JSON.stringify(param));
        this.$.apiInsert.set("url", e.detail.url + "insert");
        this.$.apiInsert.body = JSON.stringify(param);
        this.$.apiInsert.generateRequest();
      }

      _myflights(){
        this.set("menu", 1);
        this.menuChanged();
      }

      _flightList(){
        this.set("menu", 0);
        this.menuChanged();
      }
    }

    window.customElements.define(PochinkatorMain.is, PochinkatorMain);
  </script>
</dom-module>
