<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
</head>
<body>
    <form action="{{ url_for('filter') }}" method="POST">
        <label>From</label>
        <input type="text" name="paramFrom" required><br><br>
        <label>Destination</label>
        <input type="text" name="paramDest" required><br><br>
        <label>Date Value</label>
        <input type="date" name="paramDate" required><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>