<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
</head>
<body>
    <form action="{{ url_for('remove') }}" method="POST">
        <label>Id</label>
        <input type="text" name="id" required><br><br>
        <label>UID</label>
        <input type="text" name="uid" required><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
